main {
    display: flex;
    min-height: 200px;
}

.leftside {
    flex:1;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.rightside {
    flex: 1;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.right {
    margin: 1rem 3.1rem;
}